In [2]:
import pandas as pd
import numpy as np
from sklearn import tree

In [52]:
botdata = pd.read_csv('botAccounts.csv')
gooddata= pd.read_csv('GoodAccounts.csv', encoding = 'ISO-8859-1')

In [56]:
df = botdata.append(gooddata)

In [67]:
df = df.rename(columns={'listed_count' : 'listedcount'})

In [83]:
df.head()

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,2.237810e+08,2.237810e+08,arcibald1976,NaN,NaN,NaN,7,182,0,2010-12-07 09:27:38,1,False,42,en,"{'in_reply_to_status_id_str': None, 'retweet_c...",True,False,False,daniel spanu,1
1,3.236639e+09,3.236639e+09,shayleaanderson,NaN,NaN,NaN,13,1479,0,2015-05-05 19:20:01,0,False,4,en,"{'in_reply_to_status_id_str': None, 'retweet_c...",True,True,False,Shay Corless,1
2,5.504547e+08,5.504547e+08,charlesbardakji,NaN,NaN,NaN,3,280,0,2012-04-10 19:18:49,1,False,7,en,"{'in_reply_to_status_id_str': None, 'retweet_c...",True,True,False,charles bardakji,1
3,3.009552e+09,3.009552e+09,9jechia9,NaN,NaN,NaN,1,384,0,2015-02-05 01:14:32,0,False,11,en,"{'in_reply_to_status_id_str': None, 'retweet_c...",True,True,False,Geno,1
4,5.809216e+08,5.809216e+08,zi_ny_sya,NaN,NaN,NaN,6,172,0,2012-05-15 14:04:26,0,False,2,ru,"{'in_reply_to_status_id_str': None, 'retweeted...",False,False,False,inkaburnay,1

In [82]:
testset.head()

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,3.982732e+09,3982731976,mcgucket_bot,NaN,A bot that tweets every line said by Fiddlefor...,NaN,1129,7,2,Sat Oct 17 22:35:31 +0000 2015,0,False,23557,en,"{'retweeted': False, 'is_quote_status': False,...",False,False,False,McGucket bot,1
1,8.410000e+17,8.41E+17,BowieK66,NaN,NaN,NaN,0,22,0,13/03/2017 22:21,0,False,1,en,Status(_api=<tweepy.api.API object at 0x101927...,True,True,False,MJ Kuhn,1
2,2.768375e+09,2768374981,ducknoteprice,NaN,NaN,NaN,3,0,3,Mon Aug 25 23:17:59 +0000 2014,0,False,1050,en,{'created_at': 'Fri Feb 26 17:01:15 +0000 2016...,True,False,False,duckNote,1
3,3.304189e+09,3304189373,robotrecipes,robot kitchen,tasty recipes for robot // not for human // a ...,http://t.co/PdagJGqVMR,505,13,49,Sat May 30 23:42:16 +0000 2015,0,False,5109,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,robot recipes,1
4,3.224289e+09,3224289024,everyumlaut,NaN,bot by @dbaker_h,NaN,15,0,11,Sat May 23 14:39:21 +0000 2015,0,False,31365,en-gb,"{u'contributors': None, u'truncated': False, u...",True,False,False,ÌÇvÌÇrÌÀ Ì_mlÌ_Ì_¼Ñ,1

In [14]:
clf = tree.DecisionTreeClassifier(random_state=0)

In [15]:
features = ['Screen_name','Location','Description','Url','Followers_count','Friends_count','Listed_count','Created_at','Favourites_count','Verified','Statuses_count','Lang','Status','Default_profile','Default_profile_image','Has_extended_profile','name']

In [71]:
numfeatures = ['followers_count', 'friends_count', 'listedcount','favourites_count','statuses_count']

In [72]:
from sklearn.cross_validation import train_test_split
train, test = train_test_split(df, test_size = 0.2)

In [73]:
clf.fit(train[numfeatures],train["bot"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=0, splitter='best')

In [75]:
np.mean(clf.predict(test[numfeatures])==test['bot'])

0.80000000000000004

In [84]:
def train_test():
    train, test = train_test_split(testset, test_size = 0.2)
    clf.fit(train[numfeatures],train["bot"])
    return np.mean(clf.predict(test[numfeatures])==test['bot'])

In [86]:
sum(train_test() for _ in range(100))/100.0

0.84006711409395995

In [10]:
testbot = pd.read_csv("/Users/lilixu/Desktop/ML/Machine-Learning-Project/data/bots_data.csv", encoding = 'ISO-8859-1')

In [28]:
testgood = pd.read_csv("/Users/lilixu/Desktop/ML/Machine-Learning-Project/data/nonbots_data.csv", encoding = 'ISO-8859-1')

In [29]:
testset = testbot.append(testgood)

In [44]:
numtestfeatures = ['followers_count', 'friends_count', 'listedcount','favourites_count','statuses_count']

In [47]:
np.mean(clf.predict(testset[numtestfeatures])==testset['bot'])

0.59363799283154117